<!-- <div id="container">
  <div class="overlay-left"></div>
  <div class="overlay-right"></div>
  <div id="grid" class="image-cropper">
    <img *ngFor="let url of imageUrls; let i = index" 
      [@move]="state" 
      (@move.done)="onFinish($event)" 
      (@move.start)="onStart($event)" 
      [attr.class]="i" 
      [src]="url"
      alt="" />
  </div>
  <div>
    <a id="slider-buttons-left" (click)="moveLeft()">&#10094;</a>
    <a id="slider-buttons-right" (click)="moveRight()">&#10095;</a>
  </div>
</div> -->

<!-- <div id="demo" class="carousel slide" data-ride="carousel">
    
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

    
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img *ngFor="let url of imageUrls; let i = index" 
          [src]="url"
          width="1100" height="500"/>
      </div>
    </div>
    
  
    <a class="carousel-control-prev" (click)="moveLeft()" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" (click)="moveLeft()" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> -->